body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2eeee;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 50px;
  }
  
  .header {
    background-color: #5a5d5f;
    color: #0d0d0d;
    min-height: 70px;
    max-width: 1500px;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
  .hero .taq span{
    font-weight: bolder;
  }
  
  .logo img {
    vertical-align: middle;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav ul li a {
    color: #0e0d0d;
  }
  
  .hero {
    background-image: url("taqwa5.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    color: #0a0a0a;
    padding-left: 50px;
    box-sizing: border-box;
  }
  
  .hero h2 {
    margin-bottom: 20px;
  }
  
  .hero button {
    margin-top: 20px;
  }
  .hero h2 {
    margin-bottom: 20px;
  }
  
  .hero button {
    background-color: hsla(169, 74%, 40%, 0.885);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius:10px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #ffffff;
    color:mediumturquoise;
  }
  
  table td {
    text-align: center;
  }
  
  table tr:nth-child(3) {
    background-color:mediumturquoise;
  }
  .header .hero .container .logo{
    text-align: left;
    padding-right: 600px;
    color: mediumturquoise;
  }
  .header .hero .taq{
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
  }
  .header .hero .taq button
  {
    background-color: darkgoldenrod;

  }
  .header .hero .taq p{
    font-size: large;
  }
  .header .hero .taq span{
    font-weight: bolder;
    font-size: larger;
    
  }
  .sun{
    width: 500px;
    height: 48px;
    background-color: #f2f2f2;
    border-color: #e7e1e1;
    border-radius: 10px;
  }
  .sun p{
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;
  }
  .time{
    width: 700px;
    
    
  }
  .right{
    text-align:left;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .same{
    display: flex;
  }
  .right .image{
    text-align: center;
    
  }
  .right button{
    background-color: #0e0d0d;
    border: none;
    color: darkgoldenrod;
    padding: 20px 100px;
    text-transform: capitalize;
    border-radius:10px;
    cursor: pointer;
   
  }
  .right .border{
    border-style: solid;
    border-radius: 12px;
    border-color: #dddddd;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: mediumturquoise;
    font-size: larger;
    background-color: #ffffff;
  }
  .right .image .border1{
    border-style: solid;
    border-radius: 12px;
    border-color:#ffffff;
    background-color: #ffffff;
  }
  .sun{
    border-style: solid;
    font-size: larger;
    background-color: darkgoldenrod;
    border-width: 20px;
   
  }
  .container span{
    color: mediumturquoise;
  }
  .right span{
    color: mediumturquoise;
  }
